
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body {
  background-color: #263138;
  color: #fff;
  font-family: 'Nunito Sans';
}

.title {
  margin: 5em 0 0 0;
  color: #fff;
  display: block;
  text-align: center;
  text-shadow: 2px 2px #000000;
  font-size: 2em;
}

.title2{
  color: #fff;
}

.title::before {
  content: 'Cleverbutts Panel'
}

.container {
  margin: 1em auto auto auto;
  width: 40em;
  height: 10em;
  background-color: #fff;
  box-shadow: 2px 2px 5px #000000;
}

.circle{
  border-radius: 50%;
  width: 96px;
  height: 96px;
}

.button {
    background-color: #45669B;
    color: white;
    padding: 10px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button2 {
    background-color: #45669B;
    color: white;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.tokenbox {
  width: 250px;
  padding: 2px 0px;
  font-size: 16px;
}

.status {
  font-size: 18px;
  color: #00C0FF
}
